<section class="no-padding" id="actualites" data-aos="fade-up">
    <div class="container">
        <h2>Actualités</h2>
        <div class='row'>
            {% for actualities in site.data.actualities %}
                {% if actualities.current == true %} 
                    <div class="col-md-6">
                        <div class='custom-border {{ actualities.class }}'>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-name">
                                        <h3>{{ actualities.title | upcase }}</h3>
                                    </div>
                                            {{ actualities.format }}
                                    <div class="project-category text-faded">
                                        <tr>{{ actualities.date }} à {{ actualities.time }}</tr>
                                    </div>
                                    <a href='{{ site.baseurl }}{{ actualities.url }}' class='btn pt-3'>Lire plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</section>