<section class="no-padding" id="ateliers" data-aos="fade-up">
    <div class="container">
        <h2>Ateliers</h2>
        <div class='row'>
            <div class="col-md-6">
                <div class='img-border mb-4'>
                    <div class='border clinique'></div>
                    <img src='{{ site.baseurl }}/assets/img/clinique-frontpage.png' class="img-responsive" alt="">
                </div>
                <div class='mb-4'>
                    <h3>La Clinique Contributive</h3>
                    <p class='mb-3'>La surexposition aux écrans des enfants de moins de 3 ans génère des retards de langage et des troubles de l’attention et de l’apprentissage. Face à ce problème de santé publique trop peu connu, la clinique contributive accueille depuis 2019, une matinée tous les 15 jours, dans la PMI Pierre Sémard (Saint-Denis) et avec son équipe, des parents (et leurs très jeunes enfants) du quartier, des chercheurs et des professionnels de la petite enfance. Lors de cette démarche de soin inédite, ils partagent leurs savoirs et inventent ensemble comment éduquer son enfant à l’ère des écrans omniprésents.</p>
                    <a href='{{ site.baseurl }}/capacitation/clinique' class='btn'>Lire plus</a>
                </div>
            </div>    
            <div class="col-md-6">
                <div class='img-border mb-4'>
                    <div class='border unej'></div>
                    <img src='{{ site.baseurl }}/assets//img/unej-frontpage.png' class="img-responsive img-border" alt="">
                </div>
                <div class='mb-4'>
                    <h3>Urbanité Numérique en Jeux</h3>
                    <p class='mb-3'>Les technologies numériques bouleversent les manières de concevoir et de construire la ville. Le projet UNEJ, lancé en septembre 2021 et prévu jusqu’en juin 2024, permet à des élèves des collèges et lycées du 93 de s’emparer de cette révolution. Dans des ateliers animés par leurs enseignants, les élèves conçoivent puis modélisent sur le jeu vidéo Minetest (version libre du Légo numérique Minecraft) des espaces de leur établissement (année 1), de leur quartier (année 2), et du Village des Athlètes reconverti en quartier de ville après les Jeux olympiques de 2024 (années 3 et 4). Certaines de leurs modélisations doivent se concrétiser dans des opérations d’aménagement prévues sur le territoire.</p>
                    <a href='{{ site.baseurl }}/capacitation/unej' class='btn'>Lire plus</a>
                </div>
            </div>
        </div>
    </div>
</section>