
<section id="features" class="features" data-aos="fade-up">
    <div class="container">
        <div class='row align-items-center'>
            <div class="col-lg-3 col-sm-6 responsive-order">
                <img src="{{ site.baseurl }}/assets/img/horizontal-front-image.png" class="img-oversize" alt=""> 
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-item custom-border">
                    <!-- <i class="icon-screen-smartphone text-primary"></i> -->
                    <h3>AMBITIONS</h3>
                    <p class="text-muted">Bifurquer pour un avenir soutenable</p>
                    <a href='{{ site.baseurl }}/programme#ambition' class='btn'>Lire plus</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-item custom-border">
                    <!-- <i class="icon-present text-primary"></i> -->
                    <h3>MÉTHODE</h3>
                    <p class="text-muted">Expérimenter une économie de la contribution</p>
                    <a href='{{ site.baseurl }}/programme#methode' class='btn'>Lire plus</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature-item custom-border">
                    <!-- <i class="icon-camera text-primary"></i> -->
                    <h3>ORIGINE</h3>
                    <p class="text-muted">D’où vient TAC ?</p>
                    <a href='{{ site.baseurl }}/programme#origine' class='btn'>Lire plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
