<section class="no-padding" id="footer">
    <div class="container-fluid ml-2 ml-sm-0">
        <div class='row'>
            <div class="col col-md-3 responsive-order-2"></div>
            <div class="col col-md-7">
                <h3>Partenaires</h3>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-4 col-md-3 responsive-order-2">
                Territoire Apprenant Contributif © {{ site.time | date: '%Y' }}
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for partners in site.data.partenaires %}
                    <div class="col-4 col-lg-3 mb-4 partner-logo">
                        <a href='{{ partners.url }}' target="_blank">
                            <img src='{{ site.baseurl }}/{{ partners.img }}' class="img-responsive mt-3">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>  
        </div>   
    </div>      
</section>

