<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="Site pour Territoire Apprenant Contributif" content="" />
    <meta name="Elvira Hojberg" content="" />
    <title>SITE TAC</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />

    <!-- AOS 'animate on scroll' library (https://michalsnik.github.io/aos/) -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Main style sheet (include bootstrap, theme and custom CSS ) -->
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet"/>
</head>
 