<header class="masthead">
    <div class="container-fluid px-7">
        <h1 class='mb-n6 text-center text-lg-left z-index'>Territoire Apprenant Contributif</h1>
            <div class="row gx-5 align-items-center">
                <div class="col-lg-5">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <p class="lead fw-normal text-muted mb-4 ml-lg-5 mt-lg-5 text-lg-left">Le programme Territoire Apprenant Contributif est une expérimentation territoriale sur 10 ans, menée en Seine-Saint-Denis par l’équipe de l’<a href='https://www.iri.centrepompidou.fr/ target="_blank"'>Institut de Recherche et d’Innovation (IRI)</a>. Il vise à expérimenter le revenu contributif et à préparer la mise en place d’une économie de la contribution.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <img src="assets/img/seine-saint-denis.png" class="img-responsive" alt="">
                </div>
            </div>
    </div>
</header>
