<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand fw-bold pt-2" href="{% if page.url == '/' %}#page-top{% else %}{{ site.baseurl }}/{% endif %}">TAC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="bi-list"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            {% for nav in site.navigation %}
                <li class="nav-item"
                    ><a class="nav-link me-lg-5 px-md-3" href="{{ site.baseurl }}{{ nav.url }}">{{ nav.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
