
 <!-- Core theme JS-->
 <script src='{{ site.baseurl }}/assets/js/theme.js'></script> 

 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
 <!-- * *                               SB Forms JS                               * *-->
 <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
 <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


<!-- jQuery -->
<script src='{{ site.baseurl }}/assets/js/jquery-3.5.1.min.js'></script> 


<!-- AOS 'animate on scroll' library (https://michalsnik.github.io/aos/) -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script> -->
 <script src='{{ site.baseurl }}/assets/js/bootstrap.min.js'></script>


<!-- Custom JavaScript -->
 <script src='{{ site.baseurl }}/assets/js/custom.js'></script>
