
<nav class="navbar navbar-expand-lg slidein" id="sideBar">
        <div class='background-color {% if page.url contains "clinique" %}clinique{% elsif page.url contains "unej" %}unej{% elsif page.url contains "economie" %}economie{% elsif page.url contains "alimentation" %}alimentation{% endif %}'>
            <button class='container-fluid navbar-toggler  py-3' type="button" data-bs-toggle="collapse" data-bs-target="#sidebarResponsive" aria-controls="sidebarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                {{ page.title }}
            </button>
        </div>
        <div class="collapse navbar-collapse" id="sidebarResponsive">
            {% if page.url contains "programme" %}
                {% assign list = site.programme %}
            {% elsif page.url contains "clinique" %}
                {% assign list = site.clinique %}
            {% elsif page.url contains "unej" %}
                {% assign list = site.unej %}
            {% else %}
                {% assign list = nil %}
            {% endif %}

            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                {% for nav in {{list}} %} 
                    <li class="nav-item">
                        <div class='slidein'>
                            <a class="nav-link me-lg-3" href="{{ nav.url }}">{{ nav.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>      
</nav>