
// Override bootstrap and theme font systems

$font-family-base: "Akrobat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$headings-font-family: "Fengardo-neue",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";


// Custom font family

$alt-font-family: "Fengardo-neue",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 6 !default;
$h2-font-size:                $font-size-base * 4 !default;

$lead-font-size:              1.5rem;

$headings-line-height:        1 !default;


// Override colors 

$primary:       #3431A9;
$dark:          #2E2E2E;

// Custom colors

$unej:          #4484B4;
$clinique:      #FC7C54;
$economie:       #FDD470;
$alimentation:  #34AC90;


.masthead {
    background-color: white;
}


html {
    scroll-behavior: smooth;
}

// Font
h1, h2 {
    text-transform: uppercase;
}


h1 {

    @media (max-width: 1200px) {
        font-size: 5rem;
    }

    @media (max-width: 570px) {
        font-size: 3rem;
    }
}


h2 {
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 4rem;

    &::before {
        content: "";
        background: $primary;
        position: absolute;
        display: block;
        top: -3rem;
        left: -2rem;
        width: 60%;
        height: 4px;
        margin-bottom: 2rem;
    } 

    @media (max-width: 770px) {
        margin-left: 1rem;
        font-size: 2.5rem;
        margin-bottom: 2rem;

        &::before { 
            width: 80%;
            left: -1rem;
        }

    }
}

p {
    font-size: 1.2rem;

    @media (max-width: 990px) {
        font-size: 1.2rem;
    }
}


// Over section paddings

section {
    padding-top: 8rem;
    padding-bottom: 8rem;

    @media (max-width: 990px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

}


// Changes to nav-bar

#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    transition: 0.2s ease-in;

    .navbar-brand {
        font-size: 3rem;
        font-weight: 900;
        padding-top: 0.5rem;
        line-height: 3rem;
    }

    .nav-left {
        float: left !important;
        // margin: 8px 15px !important;
    }

    ul {   
        a {
            font-family: $alt-font-family;
            text-transform: uppercase; 
            font-size: 1.2rem;
        }   
    }

    @media (max-width: 990px) {
         background-color: white;

         ul {
             height: 100vh;
             padding-top: 20vh;

            li {
                border-top: 1px solid rgba(0, 0, 0, 0.3);

                &:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                }
            }   
         }
    }

    @media (max-width: 770px) {

        .navbar-brand {
            font-size: 2rem;
        }
    }
    
}

// Channges to button 

.btn {
    padding: 0;
    
    &::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        background: url("../img/fleche-copy.png") no-repeat;
        background-size: contain;
        opacity:0;
        transition: all 0.5s;
    }

    &:hover:after {
        opacity: 1;
    }
}


// Custom classes

.z-index {
    position: relative; 
    z-index: 100; 
}


.mb-n6, .my-n6 {  
    margin-bottom: -6.5rem !important; 

    @media (max-width: 1200px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        margin-bottom: -3rem !important;
    }

    @media (max-width: 990px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        margin-bottom: 0.5rem !important;
    }
}


.pt-7 {  
    padding-top: 10rem !important; 

    @media (max-width: 1200px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-top: 6rem !important;
    }

    @media (max-width: 990px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-top: 0.5rem !important;
    }
}

.px-7 {  
    padding-left: 7rem !important; 
    padding-right: 7rem !important; 

    @media (max-width: 1200px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-left: 5rem !important; 
        padding-right: 5rem !important; 
    }

    @media (max-width: 990px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-left: 0.5rem !important; 
        padding-right: 0.5rem !important; 
    }
}


.pb-7 {  
    padding-bottom: 12rem !important; 

    @media (max-width: 1200px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-top: 6rem !important;
    }

    @media (max-width: 990px) {
        // margin-bottom: $headings-margin-bottom !important; Question pour Riwad : comment faire appel aux variables bootstrap dans le costum scss ?
        padding-top: 0.5rem !important;
    }
}

.sticky {
    position: sticky; 
    top: 0.5rem;
    z-index: 1000;
}


.display-large {
    @media (max-width: 990px) {
        display: none;
    }
}

.display-medium {
    display: none; 

    @media (max-width: 990px) {
        display: inline-block;
    }
}



.custom-border {
    background-color: white;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    border-top: $primary 4px solid;
    border-left: $primary 4px solid;
    height: 16em;
    margin-bottom: 2rem;

    &.unej {
        border-top: $unej 4px solid;
        border-left: $unej 4px solid;
    }

    &.clinique {
        border-top: $clinique 4px solid;
        border-left: $clinique 4px solid;
    }

    &.economie {
        border-top: $economie 4px solid;
        border-left: $economie 4px solid;
    }

    &.alimentation {
        border-top: $alimentation 4px solid;
        border-left: $alimentation 4px solid;
    }

    &.feature-item {

        @media (max-width: 990px) {
            margin-bottom: -10rem;  
        }
    
        @media (max-width: 770px) {
            margin-bottom: 0.5rem;  
        }

    }
}



// Image classes 

.img-responsive {
    max-width: 100%;
    height: auto;

}

.img-border {
    position: relative;

    img {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 95%;
    }

    .border {
        position: absolute;
        background-color: $primary;
        top: -1px;
        left: -1px;
        width: 95%;
        height: 95%;
        z-index: -1;

        &.unej {
            background-color: $unej;
        }

        &.clinique {
            background-color: $clinique;
        }

        &.economie {
            background-color: $economie;
        }

        &.alimentation {
            background-color: $alimentation;
        }
    }
}


.partner-logo {
    position: relative;

    img {
        max-height: 5rem;
        max-width: 8rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 1px;
        height: 50%;
        background: $primary;
        
    }

    &::before {
        content: '';
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        height: 1px;
        width: 40%;
        background: $primary;
    }

    @media (max-width: 570px) {
        img {
            max-width: 6rem;
        }
    }
}




// Categories-front 

.responsive-order {
    @media (max-width: 990px) {
        order: 4;  
    }
}

.responsive-order-2 {
    @media (max-width: 760px) {
        order: 2;  
    }
}

.img-oversize {
    max-width: 140%;

    @media (max-width: 990px) {
        width: 120%;  
        margin-left: -4rem;
    }

    @media (max-width: 570px) {
        max-width: 100%;  
        margin-left: 0;
        margin-top: -4rem;
    }

}


// Text-page

#header {
    height: 90vh;
    position: relative;
    background-size: cover;

    .page-layout {
        background-color: $primary;
        height: 90vh;

        &.unej {
            background-color: $unej;
        }

        &.clinique {
            background-color: $clinique;
        }

        &.economie {
            background-color: $economie;
        }

        &.alimentation {
            background-color: $alimentation;
        }
    }

    h1 {
        position: absolute; 
        z-index: 1000; 
        bottom: 0; 
        color: white;
    }

    @media (max-width: 990px) {
        display: none;  
    }

}

.text-page {
    
    p {
        margin-left: 1.5rem;

        @media (max-width: 990px) {
            padding: 0 1rem 0 0; 
        }
    }
}

// Bullet-point class added directly in the markdown 

.bullet-point {
    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        margin-left: -20px;
        margin-top: 5px;
        background: url("../img/bullet-point.png") no-repeat;
        background-size: contain;
    }
}

// Sidebar on text-page

#sideBar {
    position: sticky;
    top: 10rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4rem;
    z-index: 1000;


    .background-color {
        background-color: $primary;
        width: 100%;
        display: none;  


        &.unej {
            background-color: $unej;
        }

        &.clinique {
            background-color: $clinique;
        }

        &.economie {
            background-color: $economie;
        }

        &.alimentation {
            background-color: $alimentation;
        }

        @media (max-width: 990px) {
            display: block;  
        }
    }

    button {
        width: 100%;
        border-radius: 0;
        text-align: left;
        color: white;
    }


    ul {
        flex-direction: column;
    }


    a {
        font-family: $headings-font-family;
    }


    .nav-item {
        position: relative;
    }

    .nav-link {
        margin-left: -2rem;
        transition: 0.8s;
        padding: 0.2em 0;
        text-transform: uppercase;
        color: $dark;
  
        &::before {
            content: '';
            position: relative;
            display: inline-block;
            width: 80px;
            height: 3px;
            margin-right: 1rem;
            margin-bottom: 0.2rem;
            background-color: $dark;  
        }

        &.active {
            margin-left: 0;
        }
    }


    @media (max-width: 990px) {
        padding-top: 3rem;

        .navbar-collapse {
            background-color: white;
        }
    }
}


// Page 


#small-header {
    position: sticky;
    width: 100%;
    top: 3.8rem;
    z-index: 1000;
    background-color: $primary;
    color: white;
    font-size: 1.25rem;
    line-height: 1rem;
}

// Actualities page 


.last {
    @media (max-width: 990px) {
        display: flex; 
        order: 3; 
    }
}
    #actualites {

        h3 {
            min-height: 6rem; 
        }
    }

.top-border {
    border-top: 3px solid $primary;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (max-width: 990px) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;  
    }

    &.last {
        @media (max-width: 990px) {
            border-top: 0px; 
        }
    }
}

.first {
    &::before {
        content: 'CE MOIS';
        font-family: $headings-font-family;
        position: absolute;
        padding: 1.5em;
        display: inline-block;
        width: 300px;
        margin-right: 1rem;
        margin-bottom: 0.2rem;
        border-top: 3px solid $primary; 
    }
}



// Override accordion-button bootstrap class 

.accordion-button {
     padding: 0; 

    &::after {
        margin-left: -1rem;
    }

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 0;
    }
}

.accordion-body {
    padding-left: 0;
}

#actualities-page {
    @media (max-width: 770px) {
        .row {
            margin-right: 0;
            margin-left: -5px;
        }

        button::after {
            margin-left: -2rem;
        }
    }
}


// Ressources 

#ressources {
    a {
        color: black;
        text-decoration: none;
    }
}



