/* Fengardo-neue 400 */	
@font-face {
	font-family:'Fengardo-neue';
	font-style: normal;
	font-weight: 400;
	src:url('../fonts/fengardo-neue/FengardoNeue_Regular.otf');
}

/* Fengardo-neue 900 */	
@font-face {
	font-family:'Fengardo-neue';
	font-style: black;
	font-weight: 900;
	src:url('../fonts/fengardo-neue/FengardoNeue_Black.otf');
}

/* akrobat-100 */
@font-face {
	font-family:'Akrobat';
	font-style: light;
	font-weight: 100;
	src: url('../fonts/Akrobat/Akrobat-Thin.woff') format('woff'), url('../fonts/Akrobat/Akrobat-Thin.woff2') format('woff2');
}

/* akrobat-300 */
@font-face {
	font-family:'Akrobat';
	font-style: thin;
	font-weight: 200;
	src: url('../fonts/Akrobat/Akrobat-Light.woff') format('woff'), url('../fonts/Akrobat/Akrobat-Thin.woff2') format('woff2');
}

/* akrobat-400 */
@font-face {
	font-family:'Akrobat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Akrobat/Akrobat-Regular.woff') format('woff'), url('../fonts/Akrobat/Akrobat-Regular.woff2') format('woff2');
}

/* akrobat-700 */
@font-face {
	font-family:'Akrobat';
	font-style: semi-bold;
	font-weight: 700;
	src: url('../fonts/Akrobat/Akrobat-Bold.woff') format('woff'), url('../fonts/Akrobat/Akrobat-Regular.woff2') format('woff2');
}


/* akrobat-900 */
@font-face {
	font-family:'Akrobat';
	font-style: black;
	font-weight: 900;
	src: url('../fonts/Akrobat/Akrobat-Black.woff') format('woff'), url('../fonts/Akrobat/Akrobat-Black.woff2') format('woff2');
}