<!DOCTYPE html>
<html lang="en">
{% include head.html %}

    <body id="page-top">
        {% include nav.html %}

            {{ content }}     
    </body>

    {% include footer.html %}
    {% include scripts.html %}

</html>