---
layout: default
title: page


---



<header id="header" class="intro-header" {% if page.img %}style="background-image: url('{{ page.img }}')"{% endif %}>
    <div class='page-layout {{ page.class }}' {% if page.img %}style="opacity: 0.6"{% endif %}> </div>
    <div class='container-fluid h-100'> 
        <h1>{{ page.title }}</h1>
    </div>  
</header>


<div id='small-header' class='display-medium py-3 px-3'>{{ page.title }}</div>

    

  {% if page.url contains 'actualites' %}
    <div id='content'>
        <section class="no-padding" id='actualities-page'>
            <div class='container'>   
                {% for actualities in site.data.actualities %}
                    <div class="accordion accordion-flush" id="heading{{ actualities.nr }}">
                        <div class="accordion-item">
                            <div class="accordion-header" id="flush-heading{{ actualites.nr }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ actualities.nr }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <div class='row w-100 {% if actualities.first == true %}first{% endif %} {% if actualities.current == true %}current{% else %}past{% endif %}'>
                                        <div class='col-lg-3'>
                                        </div>
                                        <div class='col-lg-2 top-border last'> 
                                            <div class='pb-md-3'>{{ actualities.date }}</div>
                                            <div class="display-medium px-1">à</div>
                                            <div class='pb-md-3'>{{ actualities.time }}</div>
                                            <div class="display-large">{{ actualities.place }}</div>
                                        </div>
                                        <div class='col-lg-7 top-border'>
                                            <p>{{ actualities.format }}</p>
                                            <h3 class='pr-lg-0 pr-3'>{{ actualities.title | upcase }}</h3>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div id="flush-collapse{{ actualities.nr }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ actualities.nr }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class='row'>
                                        <div class='col-lg-3'></div>
                                        <div class='col-lg-9'> 
                                            {% if actualities.text %}
                                                {% capture description %}{% include_relative assets/texts/{{ actualities.text }} %}{% endcapture %}
                                                {{ description | markdownify }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div> 
                {% endfor %}   
            </div>
        </section>
    </div>
    
  {% endif %}

  {% if page.url == '/ateliers' %}
  
  <div id='content'>

  <section class="no-padding" id="ateliers-page">
        <div class="container">
            <div class='row'>
                {% for ateliers in site.ateliers  %}
                    <div class="col col-md-6">
                        <div class='custom-border {{ ateliers.class }}'>
                            <div class="project-name">
                                <h3>{{ ateliers.title }}</h3>
                            </div>
                            <div class="project-category text-faded">
                                <p>{{ ateliers.subtitle }}</p>
                            </div>
                            {% if ateliers.active == true %}
                                <a href='{{ site.baseurl}}{{ ateliers.url }}' class='btn pt-3'>Lire plus</a>
                            {% else %}
                                <div class='pt-3'>Description à venir</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
  </section>

 </div>

  {% endif %}

  {% if page.url contains 'ressources' %}

    <div id='content'>

     
    <section class="no-padding" id='ressources'>
        <div class='container'>
            {% for ressources in site.data.ressources%}
                <a href='{{ ressources.url }} target=”_blank”'>
                    <div class='row top-border'>  
                        <div class='col-lg-5'><h5 class='mb-0'>{{ ressources.title | upcase }}</h5></div>
                        <div class='col-lg-4'>{{ ressources.author }}</div>
                        <div class='col-lg-2'>{{ ressources.date }}</div>
                        <div class='col-lg-1 display-large'><img src='{{ site.baseurl }}/assets/img/link-arrow.png' class='float-right' style='width:30px;'></div>  
                    </div>
                </a> 
            {% endfor %}
        </div> 

        <!-- <section>
            <div class='container'>
                <h2>Vocabulaire</h2>
                <div id="accordion">
                    {% for vocab in site.data.vocabulaire %}
                    <div class="accordion accordion-flush" id="heading{{ vocab.nr }}">
                        <div class="accordion-item ">
                            <div class="accordion-header top-border px-3" id="flush-heading{{ vocab.nr }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ vocab.nr }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <h3 class='w-100 mb-0'>{{ vocab.title | upcase }}</h3>
                                </button>
                            </div>    
                            <div id="flush-collapse{{ vocab.nr }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ vocab.nr }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body px-3">
                                    <p>{{ vocab.definition }}</p>
                                </div>
                            </div>   
                        </div>     
                    </div>    
                    {% endfor %}
                </div> 
            </div>
        </section> -->

    </section>

</div>

{% endif %}