---
layout: default
title: page
---


<header id="header" class="intro-header" {% if page.img %}style="background-image: url('{{ page.img }}')"{% endif %}>
    <div class='page-layout {{ page.class }}' {% if page.img %}style="opacity: 0.6"{% endif %}></div>
    <div class='container-fluid h-100'> 
        <h1>{{ page.title }}</h1>
    </div>  
</header>


<div id='content' class='pt-7'>

    <div class='row'>
        <div class='col-lg-3 sticky'>
            {% include sidebar.html %}
        </div>
        <div class='col-lg-8 text-page'>
            {{ content }}
        </div>

    </div>
</div>